@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.border-shadow {
  -webkit-box-shadow: 0px 0px 0px 8px rgba(250, 250, 250, 1);
  -moz-box-shadow: 0px 0px 0px 8px rgba(250, 250, 250, 1);
  box-shadow: 0px 0px 0px 8px rgba(250, 250, 250, 1);
}
